<div style="width: 100%;display: flex;">
    <div style="width: 50%;">
        About   Store
    </div>
    <div style="width: 50%;text-align: right;">
        Gmail   Images Search Lab  Google Apps Google Account
    </div>
</div>
<div style="width: 100%;text-align: center;">
                <div> LOGO</div>
                <br/>
                <div><input type="text" /></div><br/>
                <div style="text-align: center;width: 100%;">
                            <input type="button" value="Google Search" />
                            <input type="button" value="I'm Feeling Lucky" />   
                </div>
</div>
